@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
aside{
    position: relative;
    top: 15px;
    width: 100%;
}
.avatar-murilo {
    cursor: pointer;
    height: 50px;
    width: 50px;
}
.subscribe {
    height: 80px;
    width: 120px;
}
.subscribe path{
    position: relative;
    right: 10%;
}
.video-information {

    border-bottom: 0.5px solid #606060;
}
.comment-counts {
    align-items: center;
    color: #606060;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    width: 50%;
}
.comment-counts svg{
    position: relative;
    right: -10%;
    width: 7%;
}
.comment-input {
    align-items: center;
    height: 100px;
 display: flex;
    padding:0 10px 0 10px ;
    flex-direction: row;
    justify-content: flex-start;
}
.comment-input div {
    fill: #bc407a;
    height: 85%;
    position: relative;
    top: -5%;
    width: 85%;
}
.comment-input-line {
    height: 45px;
    border-radius: 10px;
    background-color: #D9D9D9;
padding: 10px;

  border: none;
    position: relative;
    width: 70%;
}
.commenttrouble{
    position: relative;
}
.commenttrouble p{
   font-size: 14px;
}
.comment-section{
    width: 100%;
padding-left: 15px;
    height: auto;

}

.indiv-comments {
    align-items: center;
    display: flex;
    grid-template-columns: 8% 92%;
    justify-content: flex-start;
  width: 90%;
    position: relative;
    top: -10px;

}
.svgtrouble {
    margin-right: 10px;
    height: 40px;
    position: relative;
    width: 40px;
}
.like-comments {
    display: grid;
    fill: #606060;
    grid-template-columns: 20px 50px 20px 50px;
    text-align: center;
}
.thisisaveryspecialcontainer {
    align-items: center;
    display: flex;
    position: relative;
    top: -15px;
}
.thisisaveryspecialcontainer .h4 {
    color: #606060;
    left: 5%;
    position: relative;
    top: 30px;
}
.recommended-videos a{
    color: black;
    text-decoration: none;
}
.video-titles{
    font-size: 14px;
    position: relative;
    word-wrap: break-word;
}
.video-information {
    position: relative;

}
.video-buttons {
    align-items: center;
    border-bottom-color: gray;
    border-bottom-style: solid;
    color: rgb(61, 61, 61);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}
.video-buttons svg {
    width: 2%;
}
.like-buttons {
    align-items: center;
    border-bottom-color: #085fd4;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    display: inline-flex;
    justify-content: space-around;
    position: relative;
    top: 5px;
    width: 25%;
}
.like-buttons svg {
    width: 10%;
}
.subscription{
    align-items: center;
    cursor: pointer;
    display: flex;
}
.subscription svg{
    left: 44%;
    position: relative;
    width: 15%;
}
.subscription img{

    position: relative;
    width: 50px;
    height: 50px;
}
.subscription p {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding-left: 15px;
}
footer{
    border-style: solid;
}
.video-section {
    width: 100%;

}
.video{
    width: 100%;
    height: 400px;
}
#video{
    width: 100%;
    height: 400px;
}


.underline {
    border-top-color: rgb(151, 151, 151);
    border-top-style: solid;
    padding-top: 25px;
    position: relative;
    top: 10px;
}
.time-tags {
    background-color: black;
    color: white;
    font-size: 17px;
    font-weight: bold;
    left: 26%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
}
.show-more {
    font-size: 20px;
    left: 100px;
    position: relative;
}